

.hidden {
  display: none;
}

*{
  cursor: pointer;
}
  

/*Here i am writing the css for navbar in the site*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.logo {
  height: 60px;
  width: 60px;
  background-image:url(kslogo.jpeg);
  background-size: contain;
  color: white;
  font-size: 24px;
}
/* .logo .img1{
   background-size: 20px 20px;
} */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-links a:hover {
  background-color: #555;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
  }

  .nav-links.active {
      display: flex;
  }

  .menu-icon {
      display: block;
  }
}


/*cover pic of the site*/
.main-part{
  height: 50rem;
  width: 100%;
  background-image:url(cover.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*This CSS is for my form in the site*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1green,1 ,0.2 );
  border-radius: 10px ;
}
.tital_small {
  font-size: 25px;
}

.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.font_control {
  display: flex;
  flex-direction: column;
} 

label {
  font-size: 25px;
  margin-bottom: 5px;
  font-size: larger;
}

input ,
select,
textarea {
  padding: 6px 10px;
  border: 1px  solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

input:focus {
  outline-color: red;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#getInteger {
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-out;
}

#getInteger:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.textarea_control {
  grid-column: 1 / span 2;
  
}

.textarea_control textarea {
  width: 100%;
}

@media (max-width) {
  .textarea_control {
      grid-column: 1 / span 1;
  }
  
}


#searchInput{
  width: 400px;
}